OPENAI_API_KEY=your_api_key_here
F5_MODEL=F5TTS_v1_Base
##girl
F5_REF_AUDIO=assets/voice_en_Juliet.wav
F5_REF_TEXT=This was the first thing I think I wore on camera and it fit like a glove. We took a break.
##boy 
#F5_REF_AUDIO=assets/voice_clean.wav
#F5_REF_TEXT=Alright, sorry. Right now, between you and me, one of us is smarter than you. Thanks, Vitya. You clearly only have two brains, and they're fighting for third place.